<div class="photo-board">
  <div *ngIf="board" class="photo-board-action left">
    <app-form-field
      text="Add image to the board"
    >
      <input type="text" [(ngModel)]="imgLink">
    </app-form-field>
    <app-button 
      text="Add" 
      [theme]="btnTheme.dark"
      (onClick)="addBoardPhoto()"
    ></app-button>
  </div>

  <div *ngIf="board" class="photo-board-photos">
    <ng-template ngFor let-photo [ngForOf]="getBoardPhotos() | async" [ngForTrackBy]="trackByFn">
      <div class="board-photo-container" [innerHTML]="photo.getImg()"></div>
    </ng-template>
  </div>

  <div *ngIf="board" class="photo-board-action right">
    <app-button
      text="Dismiss Changes" 
      [disabled]="!board.isPhoto()"
      [theme]="btnTheme.light"
      (onClick)="dismiss()"
    ></app-button>
    <app-button
      text="Save Board" 
      [disabled]="!board.isPhoto()"
      [theme]="btnTheme.dark"
      (onClick)="save()"
    ></app-button>
  </div>
</div>
