<div class="photo-board">
  <div *ngIf="board" class="photo-board-action left">
    <app-form-field
      text="Add image to the board"
    >
      <input type="text" [(ngModel)]="imgLink">
    </app-form-field>
    <app-button 
      text="Add" 
      [theme]="btnTheme.dark"
      (onClick)="addBoardPhoto()"
    ></app-button>
  </div>
  <div *ngIf="board" class="photo-board-photos">
    <!-- <div><img class="board-photo" src="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" alt=""></div>
    <div><img class="board-photo" src="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/max2019/stock-swncd-pod1-us-568x300.jpg.img.jpg" alt=""></div>
    <div><img class="board-photo" src="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" alt=""></div>
    <div><img class="board-photo" src="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/max2019/stock-swncd-pod1-us-568x300.jpg.img.jpg" alt=""></div>
    <div><img class="board-photo" src="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" alt=""></div>
    <div><img class="board-photo" src="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow3-720x522.png.img.png" alt=""></div>
    <div><img class="board-photo" src="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" alt=""></div>
    <div><img class="board-photo" src="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow3-720x522.png.img.png" alt=""></div>
    <div><img class="board-photo" src="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" alt=""></div>
    <div><img class="board-photo" src="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" alt=""></div>
    <div><img class="board-photo" src="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" alt=""></div>
    <div><img class="board-photo" src="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/max2019/stock-swncd-pod1-us-568x300.jpg.img.jpg" alt=""></div>
    <div><img class="board-photo" src="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" alt=""></div>
    <div><img class="board-photo" src="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" alt=""></div>
    <div><img class="board-photo" src="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/max2019/stock-swncd-pod1-us-568x300.jpg.img.jpg" alt=""></div>
    <div><img class="board-photo" src="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" alt=""></div>
    <div><img class="board-photo" src="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" alt=""></div>
    <div><img class="board-photo" src="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow3-720x522.png.img.png" alt=""></div>
    <div><img class="board-photo" src="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" alt=""></div>
    <div><img class="board-photo" src="https://www.adobe.com/content/dam/cc/us/en/products/creativecloud/stock/stock-riverflow1-720x522.jpg.img.jpg" alt=""></div> -->
    <ng-template ngFor let-photo [ngForOf]="getBoardPhotos() | async" [ngForTrackBy]="trackByFn">
      <div [innerHTML]="photo.getImg()"></div>
    </ng-template>
  </div>
  <div *ngIf="board" class="photo-board-action right">
    <app-button
      text="Dismiss Changes" 
      [disabled]="!board.isPhoto()"
      [theme]="btnTheme.light"
      (onClick)="dismiss()"
    ></app-button>
    <app-button
      text="Save Board" 
      [disabled]="!board.isPhoto()"
      [theme]="btnTheme.dark"
      (onClick)="save()"
    ></app-button>
  </div>
</div>
